{% extends "index.html" %}
<!--cette commande fait que velages_test.html heritera de tout les propriétés de index.html -->
<!--Donc plu besoin de mettre :
<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Repartition des races</title>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
</head>
 -->
{% block title %}
    Nombre de velages
{% endblock %}
{% block content %}
    <h1>Graphique du nombre de vélages</h1>
    <canvas id="graphique"></canvas>
    <script>
        var ctx = document.getElementById('graphique').getContext('2d');
        ctx.canvas.width = 200;
        ctx.canvas.height = 75;
        var myChart = new Chart(ctx, {
            type:'bar',
            data:{
                labels: {{ x | safe }},
                datasets: [{
                    label: 'Nombre de vélages',
                    data: {{ y | safe }},
                    //backgroundColor: "rgba(100,100,100,0.65)", 
                    backgroundColor: 'rgb(255, 99, 132)',
                }]
            },
            options: {
                scales:{
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
