{% extends "menue.html" %}
{% block title %}Menue{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'home.css') }}">
{% endblock %}

{% block content%}
<div class="rectangle">
    <h1>
        LINFO1002 Projet 2
        Groupe : Martin 7
    </h1>
</div>
<div class="rectangle">
    <h1>
        Etudiants : Henri pihet, Kevin Anthony, Jean Tchouanguep Ngansop
    </h1>
</div>



<FORM method="post">
    <h1>Choix de la famille</h1>
    <SELECT name="famille" size="1">
        <OPTION selected>Choisissez une famille
        {% for famille in familles %}
            <OPTION>{{famille}}
        {% endfor %}
    </SELECT>
    <h1>Choix du mois</h1>
    <SELECT name="mois" size="1">
        <OPTION selected>Mai
        {% for month in months %}
            <OPTION>{{month}}
        {% endfor %}
    </SELECT>
    <h1>Choix de l'année</h1>
    <SELECT name="annee" size="1">
        <OPTION selected>2001
        {% for year in years %}
            <OPTION>{{year}}
        {% endfor %}
    </SELECT>

    <h2>Choix du graphique à montrer</h2>
    <SELECT name="graph" size="1">
        <OPTION selected>Nombre de velages
        <OPTION>Pleine Lune
        <OPTION>Distribution des races
        </SELECT>
    <br>
    <br>
    <div>
        <input class="bouton_afficher" type="submit" value="Afficher graphique">
            
        <p style="color:red">{{ error_msg }}</p>

    </div>
</FORM>
{% endblock %}



