<!DOCTYPE html>
<html lang="fr">


    <head>
        <meta charset="utf-8">
        <meta name="author" content="Henri Pihet" >
        <!-- Titre de la page Web -->
        <title>
            {% block title%}{% endblock %} - La fermes des 3 chênes
        </title>

        {% block css%}
                <!-- Le fichier css que vous voulez ajouter dans votre HTML -->
        {% endblock %}

    </head>
    
    <body>
        <div class="menu-nav">
            <h1>La ferme des 3 chênes</h1>
            <a href="/">Accueil</a> <!-- Page d'acceuil -->
        </div>

        <!-- corp du site -->
        <section class="top-page" id="content">
            <div class="main-page">
                <p>
                    {%block content%}{%endblock%}
                </p>
            </div>
        </section>

